<section id="main">
  <h1>Blawgh</h1>
  <% if (theme.rss){ %>
  <a id="nav-rss-link" class="nav-icon" href="<%- theme.rss %>" title="RSS Feed">rss</a>
  <% } %>
  <%- partial('_partial/archive', {pagination: 1, index: true}) %>
</section>
<!--<% if (theme.sidebar && theme.sidebar !== 'bottom'){ %>
  <%- partial('_partial/sidebar', null, {cache: !config.relative_link}) %>
<% } %>-->